<div class="parent">
  <div class="container">
    <div class="signin-form">
      <h2>Sign In</h2>
      <form>
        <div class="input-group">
          <label for="username">EmailId</label>
          <input type="text" id="EmailId" [(ngModel)]="userObj.EmailId" name="EmailId" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="Password" id="Password" [(ngModel)]="userObj.password" name="Password" required />
        </div>
        <button type="submit" (click)="onLogin()">Sign In</button>
      </form>
    </div>
  </div>
</div>
